@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-bg-dark: oklch(0.1563 0.0341 238.56);
  --color-bg-light: oklch(0.2204 0.0554 245.75);
  --color-foreground: oklch(0.9619 0 0);
  --color-muted: oklch(0.7244 0 0);
  --color-primary: oklch(0.6441 0.2368 0);
  --color-border: hsl(206.41 100% 35%);

  --animate-slideDownAndFade: slideDownAndFade 150ms ease-out;

  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply h-1.5 w-1.5 rounded bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-muted rounded-sm outline-none;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-foreground);
}

.animated-border-gradient {
  border: 3px solid transparent;
  background:
    linear-gradient(var(--color-bg-dark)) padding-box,
    conic-gradient(
        from var(--angle),
        var(--color-primary),
        var(--color-border),
        var(--color-primary)
      )
      border-box;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

.animated-border-gradient:focus-within {
  animation-play-state: running;
}

.gradient-bg {
  background-image: radial-gradient(at top right, var(--color-bg-light), var(--color-primary));
}
